# Dependencies
node_modules/
vendor/

# Build artifacts
# build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Local config
.env
.env.local

# Package locks
# package-lock.json
